h1 {
    color: chartreuse;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 40px;
}

h3 {
    color: orange;
    margin-left: 40px;
}



.flexible-container {
    display: flex;

    .half-width {
        width: 50%;

        p {
            margin: 30px;
            padding: 10px;

        }

        .link {
            margin-left: 40px;
            background-color: orange;
            padding: 6px;
            border-radius: 5px;
        }

        img {
            margin-left: 30%;
            margin-top: 4%;
        }


    }
}

.secend {
    .flexible-container {
        .head {
            color: chocolate;
            margin-inline: 38%;
            border-bottom: 4px dotted black;
        }

        .box-1 {
            border: 5px solid navy;
            border-radius: 10px;
            margin: 40px 40px;
            padding: 40px;
            box-shadow: 10px 10px 100px black;
        }
    }
}